html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(186, 161, 161);
  }
}


#navbar {
  background-color: rgb(222, 196, 220);
}

#about-display {
  resize: none;
}

#project-icon {
  cursor: pointer;
}

#about-container {
  background-color: #383737;
}

#comment {
  resize: none;
  height: 100%;
}

.card-image {
  cursor: pointer;
}